mixin input-text-field({ text = 'input-text-field' } = {})
  .input-text-field.js-input-text-field
    label.input-text-field__label=text
      input(type="text" class=`input-text-field__input js-input-text-field__input`)