include ../slider/slider.pug
include ../control-panel/control-panel.pug

mixin example({ parameters, propertyForChange = '' } = {})
  .example.js-example(data-property-for-change=propertyForChange)
    +slider(parameters)
    +control-panel()