.j-plugin-slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 300px;
  height: 15px;
  margin: 5px;
  position: relative;
}
  
.j-plugin-slider__thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  top: -5px;
  background: blue;
  cursor: pointer;
  position: absolute;
}

.j-plugin-slider_vertical {
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  height: 300px;
  width: 15px;
  margin: 5px;
  position: relative;
}
  
.j-plugin-slider__thumb_vertical {
  height: 10px;
  width: 25px;
  border-radius: 3px;
  position: relative;
  left: -5px;
  background: blue;
  cursor: pointer;
  position: absolute;
}
  
.j-plugin-slider__range{
  height: 15px;
  position: absolute;
  background: rgb(86, 169, 247);
}
.j-plugin-slider__range_vertical{
  width: 15px;
  position: absolute;
  background: rgb(86, 169, 247);
}