include ../checkbox/checkbox.pug
include ../input-text-field/input-text-field.pug

mixin control-panel()
  .control-panel.js-control-panel
    .control-panel__checkbox.js-control-panel__checkbox
      +checkbox({ text: 'has tip', name: 'hasTip' })
    .control-panel__checkbox.js-control-panel__checkbox
      +checkbox({ text: 'has line', name: 'hasLine' })
    .control-panel__checkbox.js-control-panel__checkbox
      +checkbox({ text: 'is range', name: 'isRange' })
    .control-panel__checkbox.js-control-panel__checkbox
      +checkbox({ text: 'is vertical', name: 'isVertical' })
    .control-panel__input-text-field.js-control-panel__input-text-field
      +input-text-field({ text: 'min', name: 'min' })
    .control-panel__input-text-field.js-control-panel__input-text-field
      +input-text-field({ text: 'max', name: 'max' })
    .control-panel__input-text-field.js-control-panel__input-text-field
      +input-text-field({ text: 'step', name: 'step' })
    .control-panel__input-text-field.js-control-panel__input-text-field
      +input-text-field({ text: 'first value', name: 'from' })
    .control-panel__input-text-field.js-control-panel__input-text-field
      +input-text-field({ text: 'second value', name: 'to' })
