include ../checkbox/checkbox.pug
include ../input-text-field/input-text-field.pug

mixin control-panel()
  .control-panel.js-control-panel
    .control-panel__has-tip-checkbox.js-control-panel__has-tip-checkbox
      +checkbox({ text: 'has tip' })
    .control-panel__has-tip-checkbox.js-control-panel__has-tip-checkbox
      +checkbox({ text: 'has line' })
    .control-panel__is-range-checkbox.js-control-panel__is-range-checkbox
      +checkbox({ text: 'is range' })
    .control-panel__is-vertical-checkbox.js-control-panel__is-vertical-checkbox
      +checkbox({ text: 'is vertical' })
    .control-panel__min-value-field.js-control-panel__min-value-field
      +input-text-field({ text: 'min' })
    .control-panel__max-value-field.js-control-panel__max-value-field
      +input-text-field({ text: 'max' })
    .control-panel__step-field.js-control-panel__step-field
      +input-text-field({ text: 'step' })
    .control-panel__value-field.js-control-panel__value-field
      +input-text-field({ text: 'value' })
    .control-panel__first-value-field.js-control-panel__first-value-field
      +input-text-field({ text: 'first value' })
    .control-panel__second-value-field.js-control-panel__second-value-field
      +input-text-field({ text: 'second value' })
