<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <!-- <link src="./View/styles.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
  <div class="slider"></div>
  
  <script src="lib/jquery.js"></script>
  <script>
$(function () {
    $('.slider').slider()
});
  </script>
</body>

</html>