mixin particles-background({ bgColor = 'rgba(17, 17, 19, 1)', color='rgba(255, 255, 255, 1)', radius = 10, count = 100 } = {})
  canvas.particles-background(
    data-bg-color=bgColor
    data-color=color
    data-count=count
    data-radius=radius
  )
